<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8">
  <title>Some Website 123</title>
  </head>
<body>
  {{> header}}

  <p>You are on the Projects Page - Congrats!</p>

  {{> footer}}
  </body>
</html>
